<h1 class="mt-4">Dashboard</h1>

<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-firestore.js"></script>



<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/reports" class="btn btn-secondary">User Reports</a>
<a href="/userManagement" class="btn btn-secondary">App Users</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
